.probando{
    display: flex;
    width: 100%;
    height: 430px;
  
    img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
    img:hover{
        cursor: crosshair;
        width: $max * 5;
        opacity: 1;
        filter: contrast(120%);
  }
    }

  .titulosfacultad {
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(to left, $color-gris, rgb(232, 232, 232));
    margin: $mega;
  }

  .bodyfacultades {
    background-image: linear-gradient(to left, rgb(26, 26, 68), rgb(28, 0, 212), black);
    padding-top: $mini;
    padding-bottom: $mini;
    margin: $mega
  }

.titulocarrera {
    text-align: center;
    color: $color-blanco;
    margin: $max
}

.textocarrera {
    color: $color-negro;
    text-align: center;
    font-size: 1rem;
    margin-bottom: $mega + $mega;
}

.parrafocarrera {
    text-align: justify;
    margin: $max;
}

.mision {
  background-color: $color-gris;
  margin: $max;
  padding: $mini;
}
